---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/nav.astro";
import Blog from "@/components/blog.astro";
import Footer from "@/components/footer.astro";
---

<Layout title="Blog | Zeno's Manor">
  <Nav />
  <main class="pt-20">
    <Blog />
  </main>
  <Footer />
</Layout>
